@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,400;0,600;1,400;1,600&family=Montserrat:ital,wght@0,200;0,400;0,600;0,800;1,200;1,400;1,600;1,800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom right, #b4edbf, #b3e1f0, #ccfed6)
    no-repeat center center fixed;
  background-size: cover;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  padding: 40px;
  font-family: "Montserrat", sans-serif;
  gap: 30px;
  max-width: 1600px;
}

header {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  margin-bottom: 30px;
  width: 100%;
  position: relative;
  transition: all 150ms ease;
}

h1 {
  text-transform: uppercase;
  color: #d8824c;
  font-size: 4rem;
}

h2 {
  text-transform: uppercase;
  color: #51c067;
  font-size: 3.5rem;
  text-align: center;
}

h3 {
  text-transform: uppercase;
  font-size: 2.25rem;
  color: #51c067;
}

img {
  flex: 1;
  max-height: 500px;
  object-fit: cover;
  clip-path: polygon(20% 0, 100% 0%, 100% 100%, 0% 100%);
}

a {
  text-decoration: none;
}

.head {
  transition: all 150ms ease;
}

.head:hover {
  transform: translateX(20px);
}

.head::after {
  content: "Go Home";
  text-transform: uppercase;
  rotate: 90deg;
  position: absolute;
  top: 40px;
  left: -50px;
  font-size: 1rem;
  font-weight: 600;
  padding-top: 10px;
  color: #51c067;
  opacity: 0;
}

.head:hover::after {
  opacity: 1;
  transition: all 150ms ease;
}

.card {
  min-width: 375px;
  background-color: rgba(255, 243, 235, 0.4);
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: hidden;
  display: flex;
}

.desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 100%;
  max-height: 500px;
  padding: 40px 0 40px 40px;
}

.desc p {
  font-size: 1rem;
  text-align: center;
  margin-top: 15px;
  color: #c8723c;
  line-height: 1.6;
}

.ingredients,
.steps {
  padding: 40px 60px;
  line-height: 2;
  color: #c8723c;
  flex-direction: column;
  width: 100%;
}

.wrapper {
  display: flex;
  align-items: start;
  gap: 30px;
  min-width: 375px;
}

.ingredients ul,
.steps ol {
  margin-left: 20px;
}

.tagline {
  font-size: 0.875rem;
  color: #d8824c;
}

#nav {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}

#nav li {
  transition: all 200ms ease;
  width: 100%;
  height: 425px;
  background-color: rgba(255, 243, 235, 0.4);
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: hidden;
}

.cta {
  padding-left: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: black;
  text-decoration: none;
  flex: 1;
}

.cta p {
  max-width: 800px;
  font-size: 1rem;
  margin-top: 10px;
  padding: 0 30px;
  color: #d98755;
}

#nav a {
  transition: all 150ms ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}

#nav a:hover,
#nav li:hover {
  scale: 102%;
}

#nav li:nth-child(even) a {
  flex-direction: row-reverse;
}

#nav li:nth-child(even) img {
  clip-path: polygon(0% 0, 80% 0%, 100% 100%, 0% 100%);
}

#nav li:nth-child(even) .cta {
  padding-left: 0;
  padding-right: 40px;
}

@media (max-width: 1225px) {
  .wrapper {
    flex-direction: column;
  }
  .card {
    flex-direction: column;
  }
  .card img {
    clip-path: none;
  }
  .desc {
    padding: 40px;
  }
}

@media (max-width: 800px) {
  img {
    width: 100%;
    object-fit: cover;
    clip-path: none;
  }
  #nav li:nth-child(even) img {
    clip-path: none;
  }
  #nav li:nth-child(even) .cta {
    padding: 40px;
  }
  .cta {
    padding: 40px;
  }
  #nav a,
  #nav li:nth-child(even) a {
    flex-direction: column;
  }
  #nav li {
    min-width: 350px;
    min-height: 575px;
  }
  .desc {
    max-height: 100%;
  }
}
